API_ID= 28733143
API_HASH= "f7bbd29cf8ba336237046dbecfeab519"
BOT_TOKEN= "6333919301:AAGwTOOzmJdFzkZ5n5rz4S8Dmw8BYYXwwJ4"
LOG_GROUP_ID= -1001989867442
MONGO_DB_URI= "mongodb+srv://Killmonger:killmonger123@cluster0.zi6ud3a.mongodb.net/?retryWrites=true&w=majority"
MUSIC_BOT_NAME= "˹ᴍɪss ✗ ᒪIՏᗩ˼❤️"
OWNER_ID= 1138802391
STRING_SESSION= "BQG2btcAkySfXVmBkCS_5gZfjtunuYDhkKgtHwvLccwfrz8T3FDLHuxX7aWmIOgtgB05TnQMbg15IizqOQOr7r4CQZUe1hUp64go2kgOkSS6KC4SBpSu479W_g50-RWTypEFXVgfb2dOa5prX92rrT7fz7NPqAR9HgLCXn7-y0IUwpKAoc7CCSLKOni5AgtYG8i1Zp4bebwr30GhiWpvQmlvU7I9zJQ9NdmCJ7LIcSRE9TxVlc_lkVrHjZymysFqo-clBx7QIVx_fNLdhXP_zYyhr6GsMrHwsAqOOWPyctKrtvycKUI88_Zs1oRzsnpJNQ47gxAUM488cqFcgTIl6Bwd2QSSGgAAAAFM9TMQAA"
